<section>
  <div class="page-header">
    <h1>{{vm.warehouse._id ? 'Edit Warehouse' : 'New Warehouse'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.warehouseForm" class="form-horizontal" ng-submit="vm.save(vm.form.warehouseForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.warehouse.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.warehouseForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Warehouse name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.warehouse._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
