<section>
  <div class="page-header">
    <h1>Warehouses</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="warehouse in vm.warehouses"
       data-ui-sref="warehouses.view({ warehouseId: warehouse._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="warehouse.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="warehouse.user" data-ng-bind="warehouse.user.displayName"></span>
        <span data-ng-if="!warehouse.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="warehouse.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.warehouses.$resolved && !vm.warehouses.length">
    No Warehouses yet, why don't you <a data-ui-sref="warehouses.create">create one</a>?
  </div>
</section>
