<section>
  <div class="page-header">
    <h1>Salespeople</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="salesperson in vm.salespeople"
       data-ui-sref="salespeople.view({ salespersonId: salesperson._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="salesperson.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="salesperson.user" data-ng-bind="salesperson.user.displayName"></span>
        <span data-ng-if="!salesperson.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="salesperson.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.salespeople.$resolved && !vm.salespeople.length">
    No Salespeople yet, why don't you <a data-ui-sref="salespeople.create">create one</a>?
  </div>
</section>
