<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.salesperson.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.salesperson.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="salespeople.edit({ salespersonId: vm.salesperson._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.salesperson.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.salesperson.user"
            data-ng-bind="vm.salesperson.user.displayName"></span>
      <span data-ng-if="!vm.salesperson.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.salesperson.content"></p>
</section>
