<section>
  <div class="page-header">
    <h2>{{vm.productreplenishment._id ? 'Edit Stock Replenishment' : 'New Stock Replenishment'}}</h2>
  </div>
  <div class="col-xs-12 col-md-6">
    <form name="vm.productreplenishmentForm" class="form-horizontal" ng-submit="vm.save(vm.productreplenishmentForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" ng-class="vm.productreplenishmentForm.requestNo.$invalid && vm.productreplenishmentForm.requestNo.$dirty ? 'has-error' : ''" show-errors>
          <input name="requestNo" type="text" ng-model="vm.productreplenishment.requestNo" id="requestNo" class="form-control" placeholder="Stock Request" required>
          <div ng-messages="vm.productreplenishmentForm.requestNo.$error" role="alert">
            <p class="help-block error-text" ng-message="required" ng-class="vm.productreplenishmentForm.requestNo.$pristine || !vm.productreplenishmentForm.requestNo.$error.required ? 'ng-hide' : ''">Stock Request Number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <textarea name="instruction" placeholder="Special Instruction" ng-model="vm.productreplenishment.instruction" id="instruction" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-default">{{vm.productreplenishment._id ? 'Update' : 'Submit'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
