<section>
  <div class="page-header">
    <h2>Stock Replenishments</h2>
  </div>
  <div class="list-group">
    <a data-ng-repeat="productreplenishment in vm.productreplenishments"
       data-ui-sref="productreplenishments.view({ productreplenishmentId: productreplenishment._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="productreplenishment.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="productreplenishment.user" data-ng-bind="productreplenishment.user.displayName"></span>
        <span data-ng-if="!productreplenishment.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="productreplenishment.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.productreplenishments.$resolved && !vm.productreplenishments.length">
    No Productreplenishments yet, why don't you <a data-ui-sref="productreplenishments.create">create one</a>?
  </div>
</section>
