[uib-typeahead-popup].dropdown-menu {
	min-width: 100%;
	max-height: 200px;
	overflow-y: auto;
}
.span-strong {
	font-weight: bold;
	line-height: 1.5;
}
.dashed-line {
	border-top: 1px dashed #ccc;
}
.searchbox .btn-default .caret { 
	display: none; 
}