<div ng-controller="HeaderController as vm" ng-show="vm.authentication.user">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="home"><img alt="rycolive" title="rycolive247" class="img-responsive img-logo" src="modules/core/client/img/brand/logo.png" /></a>
    </div>
    <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">    
      <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
        <li ui-sref-active="active">
          <a ui-sref="authentication.signup">Sign Up</a>
        </li>
        <li class="divider-vertical"></li>
        <li ui-sref-active="active">
          <a ui-sref="authentication.signin">Sign In</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
        <li class="dropdown" uib-dropdown>
          <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">          
            <span>
              Hi, <strong>{{ vm.authentication.user.firstName }} {{ vm.authentication.user.lastName }}</strong>
            </span>
            <br>
            <span>
              Sales Person: <strong>{{ vm.authentication.user.salesPerson }}</strong>
            </span>&nbsp;&nbsp;&nbsp;<b class="caret"></b>
            <br>
            <span>
              Warehouse: <strong>{{ vm.warehouse }}</strong>
            </span> <!--<b class="caret"></b>-->
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
              <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/api/auth/signout" target="_self">Signout</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row navbar-inverse">
    <div class="container">
      <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
        <ul class="nav navbar-nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
          <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
            <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
            <ul ng-switch-when="dropdown" class="dropdown-menu">
              <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
                <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
              </li>
            </ul>
            <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<hr class="visible-xs">
<div class="container">
  <ui-breadcrumb></ui-breadcrumb>
</div>