<section>  
  <div ng-show="vm.authentication.user" ng-controller="HomeController as vm">
  </div>
  <div ng-show="vm.authentication.user" ng-controller="OrdersListController as vm">
    <div ng-include="'/modules/orders/client/views/list-orders.client.view.html'"></div>  
  </div>
</section>

