<section class="row">
  <img alt="rycolive" title="rycolive247" class="img-responsive img-logo-auth" src="modules/core/client/img/brand/logo.png" />
  <br>
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <br><br><br><br>
  <p class="small text-center">Enter your account username.</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" ng-class="vm.forgotPasswordForm.username.$invalid && vm.forgotPasswordForm.username.$dirty ? 'has-error' : ''" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
            <p class="help-block error-text" ng-class="vm.forgotPasswordForm.username.$pristine || !vm.forgotPasswordForm.username.$error.required ? 'ng-hide' : ''" ng-message="required">Enter a username.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <a ui-sref="authentication.signin" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        <div ng-show="vm.success" class="text-center text-success">
          <strong ng-bind="vm.success"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
