<section>
  <div class="page-header">
    <h1>{{vm.order._id ? 'Edit Order' : 'New Order'}}</h1>
  </div>
  <div class="col-md-12">
  TODO: <br>
    display cust data <br>
    order form CRUD <br>
    summary order <br>
    export to excel <br>
    send mail <br>
    manage employee <br>
    manage equipment <br>
    <form name="vm.form.orderForm" class="form-horizontal" ng-submit="vm.save(vm.form.orderForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.order.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.orderForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Order name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.order._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
