<section ng-show="vm.authentication.user">
  <div class="page-header">
    <h2>Order History</h2>
  </div>
  <div class="list-group" ng-show="vm.warehouse !== '044'">
    <table class="table table-striped">
      <tr>
        <th>Order No.</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Sales</th>
        <th>Warehouse</th>
        <th>Customer</th>
        <th>Name</th>
        <th>Total</th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="order in vm.nonbma">
        <td>{{order.id}}</td>
        <td>{{order.status}}</td>
        <td>{{order.date}}</td>
        <td>{{order.sales}}</td>
        <td>{{order.warehouse}}</td>
        <td>{{order.customer}}</td>
        <td>{{order.name}}</td>
        <td>{{order.total}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-primary btn-xs" data-ui-sref="orders.view({ orderId: order._id })">Details</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.orders.$resolved && !vm.orders.length">
    TODO: ask David Order table
  </div>
  <div ng-show="vm.warehouse === '044'">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#ha">Hose Assembly</a></li>
      <li><a data-toggle="tab" href="#cm">Consumables</a></li>
    </ul>
    <div class="tab-content">
      <div id="ha" class="tab-pane fade in active">
        <table class="table table-striped">
          <tr>
            <th>Order No.</th>
            <th>Status</th>
            <th>Type</th>
            <th>Order Date</th>
            <th>Sales</th>
            <th>User</th>
            <th>Warehouse</th>
            <th>Customer</th>
            <th>Name</th>
            <th>Total</th>
            <th>&nbsp;</th>
          </tr>
          <tr ng-repeat="order in vm.cm">
            <td>{{order.id}}</td>
            <td>{{order.status}}</td>
            <td>{{order.type}}</td>
            <td>{{order.date}}</td>
            <td>{{order.sales}}</td>
            <td>{{order.user}}</td>
            <td>{{order.warehouse}}</td>
            <td>{{order.customer}}</td>
            <td>{{order.name}}</td>
            <td>{{order.total}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-primary btn-xs" data-ui-sref="orders.view({ orderId: order._id })">Details</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div id="cm" class="tab-pane fade">
        <table class="table table-striped">
          <tr>
            <th>Order No.</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>Sales</th>
            <th>User</th>
            <th>Warehouse</th>
            <th>Customer</th>
            <th>Name</th>
            <th>&nbsp;</th>
          </tr>
          <tr ng-repeat="order in vm.ha">
            <td>{{order.id}}</td>
            <td>{{order.status}}</td>
            <td>{{order.date}}</td>
            <td>{{order.sales}}</td>
            <td>{{order.user}}</td>
            <td>{{order.warehouse}}</td>
            <td>{{order.customer}}</td>
            <td>{{order.name}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-primary btn-xs" data-ui-sref="orders.view({ orderId: order._id })">Details</button>
              </div>
            </td>
          </tr>        
        </table>
      </div>
    </div>
  </div>
</section>
