<section>
  <div class="page-header">
    <h2>Products Data</h2>
  </div>
  <div class="form-group has-feedback">
    <input type="text" id="productSearch" class="form-control" ng-model="item" placeholder="Search Product" uib-typeahead="item as item.MMITDS for item in getProductSearchList($viewValue)" class="form-control" typeahead-on-select="getProductDetails(item)" typeahead-min-length="3"  autofocus="true" typeahead-focus-first="true" >
    <i class="fa fa-search form-control-feedback"></i>    
  </div>
  <div>Have searched? <a ui-sref="products.searchhistory">Search From History</a>.<br></div>
  <div class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="!vm.dataLoad"></i></div>  
  <hr class="dashed-line" ng-show="vm.displayProductDetails">
  <div ng-include="'/modules/products/client/views/view-product.client.view.html'" ng-show="vm.displayProductDetails"></div>
</section>
