<section>
  <div class="page-header">
    <h2>Products Search History</h2>
  </div>
  <div class="form-group has-feedback">
    <input type="text" ng-model="vm.search" placeholder="Search" class="form-control" ng-change="vm.figureOutItemsToDisplay()">
    <i class="fa fa-search form-control-feedback"></i>
  </div>
  <div class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="!vm.dataLoad"></i></div>
  <div ng-show="vm.pagedItems.length === 0 && vm.dataLoad" class="alert alert-warning">
    No history data. <a class="btn btn-default btn-xs" ui-sref="products.list">Search Product?</a>
  </div>
  <div>
    <div class="text-center">
      <uib-pagination ng-show="vm.pagedItems.length !== 0 && vm.dataLoad" total-items="vm.filterLength" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" boundary-links="true" max-size="vm.maxSize"></uib-pagination>
    </div>
  	<table class="table table-striped product-search-history-table">
  		<tr>
  			<th>Item</th>
  			<th>Description</th>
  			<th class="text-center">Status</th>
        <th class="text-center">UOM</th>
  			<th class="text-center">1R Price ($)</th>
  			<th class="text-center">1w Price ($)</th>
  			<th class="text-right">Availability</th>
  			<th>&nbsp;</th>
  		</tr>
  		<tr ng-repeat="product in vm.pagedItems" ng-show="vm.pagedItems.length !== 0 && vm.dataLoad">
  			<td><a ui-sref="products.productdetails({ productId: product.Item })">{{::product.Item}}</a></td>
  			<td>{{::product.Description}}</td>
  			<td class="text-center">
  				<span ng-if="product.Status === '05'">05 - Template item</span>
          <span ng-if="product.Status === '10'">10 - Item number, cost</span>
          <span ng-if="product.Status === '20'">20 - Active</span>
          <span ng-if="product.Status === '50'">50 - Discountinued</span>
          <span ng-if="product.Status === '80'">80 - Not carrd</span>
          <span ng-if="product.Status === '90'">90 - Not stock</span>
          <span ng-if="product.Status !== '05' && product.Status !== '10' && product.Status !== '20' && product.Status !== '50' && product.Status !== '80' && product.Status !== '90'">Not Defined</span>
        </td>
  			<td class="text-center">{{::product.UOM}}</td>
  			<td class="text-center">{{::product.ListPrice1R? (product.ListPrice1R | number:2) : (0 | number:2)}}</td>
        <td class="text-center">{{::product.ListPrice1W? (product.ListPrice1W | number:2) : (0 | number:2)}}</td>
  			<td class="text-right">{{::product.Availability?  (product.Availability| number:2) : (0 | number:2)}}</td>
  			<td class="text-right">
          <div class="btn-group">
            <button class="btn btn-primary btn-xs" data-ui-sref="products.productdetails({ productId: product.Item })">Details</button>
          </div>
        </td>
  		</tr>
  	</table>
    <div class="text-center">
      <uib-pagination ng-show="vm.pagedItems.length !== 0 && vm.dataLoad" total-items="vm.filterLength" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" boundary-links="true" max-size="vm.maxSize"></uib-pagination>
    </div>
  </div>
</section>
