<h5>Stock Availability</h5>
<div class="text-center">	
	<i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="!vm.dataLoadStock"></i>
</div>
<div ng-show="vm.pagedStockItems.length === 0 && vm.dataLoadStock" class="alert alert-warning">
	No stock available.
</div>
<table class="table table-striped table-responsive product-table product-stock" ng-show="vm.pagedStockItems.length !== 0 && vm.dataLoadStock">
	<tr>
		<th class="text-center">Warehouse</th>
		<th>Description</th>
		<th class="text-center">Item</th>
		<th class="text-center">Status</th>
		<th class="text-right">Allocatable</th>
	</tr>
	<tr ng-repeat="stock in vm.pagedStockItems">
		<td class="text-center">{{::stock.WH}}</a></td>
		<td>{{::stock.Desc}}</td>
		<td class="text-center">{{::stock.Item}}</td>
		<td class="text-center">{{::stock.Status}}</td>
		<td class="text-right">{{::stock.Allocatable | number:2}}</td>
	</tr>
</table>
<div class="text-center">
  <uib-pagination ng-show="vm.pagedStockItems.length !== 0 && vm.dataLoadStock" total-items="vm.filterStockLength" items-per-page="vm.itemsPerPage" ng-model="vm.currentStockPage" ng-change="vm.pageStockChanged()" boundary-links="true" max-size="vm.maxSize"></uib-pagination>
</div>