<section>
  <div class="row product-data">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Item Number</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.product.MMITNO}} - {{vm.product.MMITDS}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Status</span>
        </div>
        <div class="col-xs-8 col-md-9 text-danger">
          <span ng-if="vm.product.MMSTAT === '05'">: 05 - Template item</span>
          <span ng-if="vm.product.MMSTAT === '10'">: 10 - Item number, cost</span>
          <span ng-if="vm.product.MMSTAT === '20'">: 20 - Active</span>
          <span ng-if="vm.product.MMSTAT === '50'">: 50 - Discountinued</span>
          <span ng-if="vm.product.MMSTAT === '80'">: 80 - Not carrd</span>
          <span ng-if="vm.product.MMSTAT === '90'">: 90 - Not stock</span>
          <span ng-if="vm.product.MMSTAT !== '05' && vm.product.MMSTAT !== '10' && vm.product.MMSTAT !== '20' && vm.product.MMSTAT !== '50' && vm.product.MMSTAT !== '80' && vm.product.MMSTAT !== '90'">: - Not Defined</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">UOM</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.product.MMUNMS}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Net. Weight</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.product.MMUNMS === 'EA'? (vm.product.MMNEWE | number:2) : vm.product.MMUNMS === ''? '-' : ((vm.product.MMNEWE * 1000) | number:2)}}{{vm.product.MMUNMS !== ''? 'g' : ''}}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Price 1W</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.product.PRICE1W? (vm.product.PRICE1W | currency:$:2) : (0 | currency)}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Price 1R</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.product.PRICE1R? (vm.product.PRICE1R | currency:$:2) : (0 | currency)}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="dashed-line">  
  <div ng-include="'/modules/products/client/views/view-products-stock-availability.client.view.html'"></div>
  <hr class="dashed-line">
  <div ng-include="'/modules/products/client/views/view-products-order-history.client.view.html'"></div>
</section>
