<h5>Sales History</h5>
<div class="text-center">	
	<i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="!vm.dataLoadHistory && !vm.error"></i>
</div>
<div ng-show="vm.pagedHistoryItems.length === 0 && vm.dataLoadHistory" class="alert alert-warning">
	No transactions. <a class="btn btn-default btn-xs" ui-sref="orders.create">Create one?</a>
</div>
<table class="table table-striped table-responsive product-table product-order-history" ng-show="vm.pagedHistoryItems.length !== 0 && vm.dataLoadHistory">
	<tr>
		<th>Order#</th>
		<th>Customer</th>
		<th>Order Date</th>
		<th class="text-center">Qty</th>
		<th class="text-right">Price ($)</th>
		<th class="text-right">Total Net ($)</th>
		<th class="text-right">&nbsp;</th>
	</tr>
	<tr ng-repeat="order in vm.pagedHistoryItems">
		<td><a ui-sref="products.saleshistory({ productOrderNo: order.Order })">{{::order.Order}}</a></td>
		<td><a ui-sref="customers.customerdetails({ customerId: order.Customer })">{{::order.Customer}}</a></td>
		<td>{{::order.OrderDate | date: 'dd/MM/yyyy'}}</td>
		<td class="text-center">{{::order.Qty}}</td>
		<td class="text-right">{{::order.Price}}</td>
		<td class="text-right">{{::order.NetTotal}}</td>
		<td class="text-right">
          <div class="btn-group">
            <button class="btn btn-primary btn-xs" data-ui-sref="products.saleshistory({ productOrderNo: order.Order })">Details</button>
          </div>
        </td>
	</tr>
</table>
<div class="text-center">
  <uib-pagination ng-show="vm.pagedHistoryItems.length !== 0 && vm.dataLoadHistory" total-items="vm.filterLength" items-per-page="vm.itemsPerPage" ng-model="vm.currentHistoryPage" ng-change="vm.pageHistoryChanged()" boundary-links="true" max-size="vm.maxSize"></uib-pagination>
</div>