<section>
	<h3>Sales Summary</h3>
	<div ng-hide="vm.order.length !== 0">
		<span class="text-warning">Sales Summary data not found.</span>
		<br>
		<a ui-sref="products.list">Search Product</a> or <a ui-sref="products.searchhistory">Search Product from History</a>.
	</div>
	<div class="row" ng-show="vm.order.length !== 0">
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-4 col-sm-3">
					<strong>Order No</strong>
				</div>
				<div class="col-xs-8 col-sm-9">
					<span>: {{vm.order[0].Order}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3">
					<strong>Customer ID</strong>
				</div>
				<div class="col-xs-8 col-sm-9">
					<span>: <a ui-sref="customers.customerdetails({ customerId: vm.order[0].Customer })">{{vm.order[0].Customer}}</a></span>
				</div>
			</div>
			<div class="row" ng-repeat="item in vm.order">
				<div class="col-xs-4 col-sm-3">
					<strong>Item ID #{{$index+1}}</strong>
				</div>
				<div class="col-xs-8 col-sm-9">
					<span>: <a ui-sref="products.productdetails({ productId: item.OBITNO })">{{item.OBITNO}}</a></span>
				</div>
			</div>
		</div>
	</div>
</section>