<section>
  <div class="page-header">
    <h2>Customers Data</h2>
  </div>  
  <div class="form-group has-feedback">
    <input type="text" id="customerSearch" class="form-control" ng-model="item" placeholder="Search Customer" uib-typeahead="item as (item.OKCUNO + ' ' + item.OKCUNM) for item in getCustomerSearchList($viewValue)" class="form-control" typeahead-on-select="getCustomerDetails(item)" typeahead-min-length="3" autofocus="true" typeahead-focus-first="true" >
    <i class="fa fa-search form-control-feedback"></i>
  </div>
  <div>Have searched? <a ui-sref="customers.searchhistory">Search From History</a>.<br></div>
  <div class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="!vm.dataLoadSearch"></i></div>
  <hr ng-show="vm.displayCustomerDetails" class="dashed-line">
  <div ng-include="'/modules/customers/client/views/view-customer.client.view.html'" ng-show="vm.displayCustomerDetails"></div>
</section>
