<section>
  <div class="page-header">
    <h2>Customers Search History</h2>
  </div>
  <div class="form-group has-feedback">
    <input type="text" ng-model="vm.search" placeholder="Search" class="form-control" ng-change="vm.figureOutItemsToDisplay()">
    <i class="fa fa-search form-control-feedback"></i>
  </div>
  <div class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="!vm.dataLoad"></i></div>
  <div ng-show="vm.pagedItems.length === 0 && vm.dataLoad" class="alert alert-warning">
    No history data. <a class="btn btn-default btn-xs" ui-sref="customers.list">Search Customer?</a>
  </div>
  <div>
    <div class="text-center">
      <uib-pagination ng-show="vm.pagedItems.length !== 0 && vm.dataLoad" total-items="vm.filterLength" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" boundary-links="true" max-size="vm.maxSize"></uib-pagination>
    </div>
  	<table class="table table-striped customer-search-history-table">
  		<tr>
  			<th>Customer#</th>
  			<th>Name</th>
  			<th class="text-center">Status</th>
  			<th class="text-center">Price Type</th>
  			<th class="text-center">Phone No</th>
  			<th class="text-center">Customer Stop</th>
  			<th>&nbsp;</th>
  		</tr>
  		<tr ng-repeat="item in vm.pagedItems" ng-show="vm.pagedItems.length !== 0 && vm.dataLoad">
  			<td><a ui-sref="customers.customerdetails({ customerId: item.Customer })">{{::item.Customer}}</a></td>
  			<td>{{::item.Name}}</td>
  			<td class="text-center">
  				<span ng-if="item.Status === '10'">10 (Preliminary)</span>
				<span ng-if="item.Status === '20'">20 (Active)</span>
				<span ng-if="item.Status === '90'">90 (Blocked/Expired)</span>
				<span ng-if="item.Status !== '10' && item.Status !== '20' && item.Status !== '90'">Customer status not found</span>
			</td>
  			<td class="text-center">{{::item.PriceType}}</td>
  			<td class="text-center">{{::item.PhoneNumber}}</td>
  			<td class="text-center">
  				<span ng-if="item.CustomerStop === '0'">{{::item.CustomerStop}} - Not Blocked</span>
				<span ng-if="item.CustomerStop === '1'">{{::item.CustomerStop}} - Block Partially</span>
				<span ng-if="item.CustomerStop === '2'">{{::item.CustomerStop}} - Block All</span>
				<span ng-if="item.CustomerStop !== '0' && item.CustomerStop !== '1' && item.CustomerStop !== '2'">Not Defined</span>
			</td>
  			<td>
          <div class="btn-group">
            <button class="btn btn-primary btn-xs" data-ui-sref="customers.customerdetails({ customerId: item.Customer })">Details</button>
          </div>
        </td>
  		</tr>
  	</table>
    <div class="text-center">
      <uib-pagination ng-show="vm.pagedItems.length !== 0 && vm.dataLoad" total-items="vm.filterLength" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" boundary-links="true" max-size="vm.maxSize"></uib-pagination>
    </div>
  </div>
</section>
