<section>
  <div class="row customer-data">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Customer ID</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.customer.OKCUNO}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Customer Name</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.customer.OKCUNM}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Status</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span ng-if="vm.customer.OKSTAT === '10'">: 10 (Preliminary)</span>
          <span ng-if="vm.customer.OKSTAT === '20'">: 20 (Active)</span>
          <span ng-if="vm.customer.OKSTAT === '90'">: 90 (Blocked/Expired)</span>
          <span ng-if="vm.customer.OKSTAT !== '10' && vm.customer.OKSTAT !== '20' && vm.customer.OKSTAT !== '90'">: Customer status not found</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Address</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.customer.OKCUA1}}, {{::vm.customer.OKCUA2}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">District</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.customer.OKSDST}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Sales Person</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.customer.OKSMCD}}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Price Type</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.customer.OKCFC1}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Telephone</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.customer.OKPHNO}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <span class="span-strong">Fax</span>
        </div>
        <div class="col-xs-8 col-md-9">
          <span>: {{vm.customer.OKTFNO}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="dashed-line">  
  <div ng-include="'/modules/customers/client/views/view-customer-order-history.client.view.html'"></div>
</section>
