<h5>Sales History</h5>
<div class="text-center">	
	<i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="!vm.dataLoad"></i>
</div>
<div ng-show="vm.pagedItems.length === 0 && vm.dataLoad" class="alert alert-warning">
	No transactions. <a class="btn btn-default btn-xs" ui-sref="orders.create">Create one?</a>
</div>
<table class="table table-striped table-responsive customer-table customer-order-history" ng-show="vm.pagedItems.length !== 0 && vm.dataLoad">
	<tr>
		<th>Customer Order#</th>
		<th>Order#</th>
		<th>Warehouse</th>
		<th class="text-center">Order Type</th>
		<th class="text-center">Highest Status</th>
		<th class="text-center">Lowest Status</th>
		<th>Order Date</th>
		<th>Total Net ($)</th>
		<th class="text-right">&nbsp;</th>
	</tr>
	<tr ng-repeat="order in vm.pagedItems">
		<td><a ui-sref="customers.saleshistory({ customerOrderNo: order.CustomerOrder })">{{::order.CustomerOrder}}</a></td>
		<td>{{::order.Order}}</td>
		<td>{{::order.Warehouse}}</td>
		<td class="text-center">{{::order.OrderType}}</td>
		<td class="text-center">{{::order.HighestStatus}}</td>
		<td class="text-center">{{::order.LowestStatus}}</td>
		<td>{{::order.OrderDate | date: 'dd/MM/yyyy'}}</td>
		<td class="text-right">{{::order.TotalNet}}</td>
		<td>
          <div class="btn-group">
            <button class="btn btn-primary btn-xs" data-ui-sref="customers.saleshistory({ customerOrderNo: order.CustomerOrder })">Details</button>
          </div>
        </td>
	</tr>
</table>
<div class="text-center">
  <uib-pagination ng-show="vm.pagedItems.length !== 0 && vm.dataLoad" total-items="vm.filterLength" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" boundary-links="true" max-size="vm.maxSize"></uib-pagination>
</div>