<section>
	<h3>Sales Summary</h3>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-4 col-sm-3">
					Customer ID
				</div>
				<div class="col-xs-8 col-sm-9">
					<span>: <a ui-sref="customers.customerdetails({ customerId: vm.customer.CustomerId })">{{::vm.customer.CustomerId}}</a></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3">
					Customer Order#
				</div>
				<div class="col-xs-8 col-sm-9">
					<span>: {{::vm.customer.CustomerOrder}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3">
					Order#
				</div>
				<div class="col-xs-8 col-sm-9">
					<span>: {{::vm.customer.Order}}</span>
				</div>
			</div>
		</div>
	</div>
</section>