<section class="row">
  <img alt="rycolive" title="rycolive247" class="img-responsive img-logo-auth" src="modules/core/client/img/brand/logo.png" />
  <h3 class="col-md-12 text-center" ng-show="vm.state.is('authentication.signin')">Sign In</h3>
  <h3 class="col-md-12 text-center" ng-show="vm.state.is('authentication.signup')">Sign Up</h3>
  <br><br><br><br>
  <div ui-view></div>
</section>
