<div>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <ui-select ng-model="vm.salesPerson.data" name="toolGroup" required on-select="vm.getUserList(vm.salesPerson.data)">
            <ui-select-match placeholder="Select a sales person">{{$select.selected.NAME}}</ui-select-match>
            <ui-select-choices repeat="item in vm.salesPerson | filter: $select.search">
              <span ng-bind="item.NAME"></span>
            </ui-select-choices>
          </ui-select>
          <div ng-messages="vm.userForm.salesPerson.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Sales Person is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <ui-select ng-model="vm.warehouse.data" name="toolGroup" required>
            <ui-select-match placeholder="Select a warehouse">{{$select.selected.NAME}}</ui-select-match>
            <ui-select-choices repeat="item in vm.warehouse | filter: $select.search">
              <span ng-bind="item.NAME"></span>
            </ui-select-choices>
          </ui-select>
          <div ng-messages="vm.userForm.warehouse.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Warehouse is required.</p>
          </div>
        </div>
        <div class="form-group" ng-class="vm.userForm.username.$invalid && vm.userForm.username.$dirty ? 'has-error' : ''" show-errors>
          <ui-select ng-model="vm.credentials.username.data" name="toolGroup" required>
            <ui-select-match placeholder="Select a username">{{$select.selected.userCode}} {{$select.selected.firstName}} {{$select.selected.lastName}}</ui-select-match>
            <ui-select-choices repeat="item in vm.username | filter: $select.search">
              <span>{{item.userCode}} {{item.firstName}} {{item.lastName}}</span>
            </ui-select-choices>
          </ui-select>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-class="vm.userForm.username.$pristine || !vm.userForm.username.$error.required ? 'ng-hide' : ''" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" ng-class="vm.userForm.password.$invalid && vm.userForm.password.$dirty ? 'has-error' : ''" show-errors>
          <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-class="vm.userForm.password.$pristine || !vm.userForm.password.$error.required ? 'ng-hide' : ''" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary btn-block submit-button">Sign in</button>
        </div>
        <div class="text-center form-group">
          No Account?
          <a ui-sref="authentication.signup">Sign up</a>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
          <span ng-bind="vm.error"></span>
        </uib-alert>
      </fieldset>
    </form>
  </div>
</div>
