<div>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <ui-select ng-model="vm.credentials.salesPerson.data" name="toolGroup" required>
            <ui-select-match placeholder="Select a sales person">{{$select.selected.NAME}}</ui-select-match>
            <ui-select-choices repeat="item in vm.salesPerson | filter: $select.search">
              <span ng-bind="item.NAME"></span>
            </ui-select-choices>
          </ui-select>
          <div ng-messages="vm.userForm.salesPerson.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Sales Person is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <ui-select ng-model="vm.warehouse.data" name="toolGroup" required>
            <ui-select-match placeholder="Select a warehouse">{{$select.selected.NAME}}</ui-select-match>
            <ui-select-choices repeat="item in vm.warehouse | filter: $select.search">
              <span ng-bind="item.NAME"></span>
            </ui-select-choices>
          </ui-select>
          <div ng-messages="vm.userForm.warehouse.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Warehouse is required.</p>
          </div>
        </div>
        <div class="form-group" ng-class="vm.userForm.firstName.$invalid && vm.userForm.firstName.$dirty ? 'has-error' : ''" show-errors>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name" required ng-maxlength="30">
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-class="vm.userForm.firstName.$pristine || !vm.userForm.firstName.$error.required ? 'ng-hide' : ''" ng-message="required">First name is required.</p>
            <p class="help-block error-text" ng-class="vm.userForm.firstName.$pristine || !vm.userForm.firstName.$error.maxlength ? 'ng-hide' : ''" ng-message="maxlength">First name max length is 30 characters.</p>
          </div>
        </div>
        <div class="form-group" ng-class="vm.userForm.lastName.$invalid && vm.userForm.lastName.$dirty ? 'has-error' : ''" show-errors>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name" required ng-maxlength="30">
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-class="vm.userForm.lastName.$pristine || !vm.userForm.lastName.$error.required ? 'ng-hide' : ''" ng-message="required">Last name is required.</p>
            <p class="help-block error-text" ng-class="vm.userForm.lastName.$pristine || !vm.userForm.lastName.$error.maxlength ? 'ng-hide' : ''" ng-message="maxlength">Last name max length is 30 characters.</p>
          </div>
        </div>
        <div class="form-group" ng-class="vm.userForm.email.$invalid && vm.userForm.email.$dirty ? 'has-error' : ''" show-errors>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required ng-maxlength="60">
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-class="vm.userForm.email.$pristine || !vm.userForm.email.$error.required ? 'ng-hide' : ''" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-class="vm.userForm.email.$pristine || !vm.userForm.email.$error.email ? 'ng-hide' : ''" ng-message="email">Email address is invalid.</p>
            <p class="help-block error-text" ng-class="vm.userForm.email.$pristine || !vm.userForm.email.$error.maxlength ? 'ng-hide' : ''" ng-message="maxlength">Email address max length is 60 characters.</p>
          </div>
        </div>        
        <div class="form-group" ng-class="vm.userForm.password.$invalid && vm.userForm.password.$dirty ? 'has-error' : ''" show-errors>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-class="vm.userForm.password.$pristine || !vm.userForm.password.$error.required ? 'ng-hide' : ''" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text"  ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="vm.userForm.confirmPassword.$invalid && vm.userForm.confirmPassword.$dirty ? 'has-error' : ''" show-errors>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="vm.credentials.confirmPassword" placeholder="Re-Enter Password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.userForm.confirmPassword.$error" role="alert">
            <p class="help-block error-text" ng-class="vm.userForm.confirmPassword.$pristine || !vm.userForm.confirmPassword.$error.required ? 'ng-hide' : ''" ng-message="required">Confirm Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
        <div class="text-center form-group">
          Already have an account? <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div>
