.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  margin-top: 50px;
}
.footer .container {  
  border-top: 1px solid #777c7d;
  padding-top: 10px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  color: #252829;
  font-size: 14px;
}
.user-header-dropdown-toggle:hover {
  color: #252829;
  font-size: 14px;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.img-logo {
  margin: 10px 10px 5px 10px;
}
.img-logo-auth {
  margin: 0 auto;
}
.navbar {
  min-height: 0;
  margin-bottom: 0;
}
.page-header {
  margin-top: 0;
}
.content {
  min-height: 370px;
}
span.btn-default.ui-select-toggle:hover span.ui-select-placeholder.text-muted.ng-binding,
span.btn-default.ui-select-toggle:hover span.ui-select-match-text span.ng-binding {
    color: #fff;
    text-shadow: none;
}
.btn-default:hover {
  text-shadow: none;
}
li.dropdown.open span {
    color: #fff;
    text-shadow: none;
}